<template>
  <div id="app">
    <button type="button" class="btn btn-primary waves-effect">hola que tal</button>
    <div class="prueba"></div>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<style lang="scss">
  @import url(css/main.scss);
</style>
